@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  CALL TEST
  ========================================
*/

.call_test {
    text-align: center;
    padding: 55px 0 90px 0;

    & h2 {
        font-size: reset.toRem(16);
        font-weight: 600;
        color: main.$ColorMain;
        margin-bottom: 12px;
        letter-spacing: 1px;
    }

    & h3 {
        font-size: reset.toRem(40);
        font-weight: 700;
        color: main.$ColorOne;
        margin-bottom: 10px;
    }

    & p {
        margin: 0;
        text-align: center;

        &::after {
            content: "";
            width: 180px;
            height: 4px;
            background: #A1BD04;
            display: block;
            border-radius: 10px;
            margin: 12px auto;       
        }
    }

    & .button {
        display: inline-block;
        margin-top: 45px;
    }
}


/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
	.call_test {
		text-align: center;
		padding: 25px 0 40px 0;
	
		& h3 {
			font-size: reset.toRem(30);
		}
	
		& .button {
			margin-top: 30px;
		}
	}
}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
	.call_test {
		padding: 15px 0 30px 0;
	
		& h3 {
			font-size: reset.toRem(25);
		}
	}
}
