@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  TITLE INTERNAL
  ========================================
*/

.internal {
    margin-top: 240px;
    
    &.container,
    & .container {
        padding: 0 80px;
    }
    
    & .__titleMain {
        & h1 {
            font-size: reset.toRem(14);
            font-weight: 700;
            color: main.$ColorMain;
            letter-spacing: 1px;

            &::after {
                content: '';
                width: 137px;
                height: 4px;
                background: main.$ColorMain;
                display: block;
                margin-top:10px;
            }
        }
    }
}

/* PERSONALIZATE- 1500px*/ 
@media screen and (max-width:1500px) {
    .internal {
        &.container,
        & .container {
            padding: 0 20px;
        }
    }    
}  

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) {
    .internal {
        margin-top: 200px;
    }
}

/*PERSONALIZATION 1100PX*/
@media screen and (max-width:68.75rem) {
    .internal {
        margin-top: 180px;
    }    
}