@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  VERSATILITY
  ========================================
*/

.versatility {
    background: main.$ColorFour;
    text-align: center;
    padding: 55px 0;

    & h2 {
        font-size: reset.toRem(40);
        font-weight: 700;
        color: main.$ColorOne;
        margin-bottom: 10px;
    }

    & p {
        margin-bottom: 60px;
    }

    & .devices {
      display: flex;
      justify-content: center;
      gap: 25px 30px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: -40px;
        height: 220px;
        width: 390px;
        background: url("../img/balls.png") repeat;
      }

      & div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 45px 0 0 0;
        text-align: center;
        background: main.$ColorOne;
        border-radius: 15px;
        width: 530px;
        height: 370px;
        box-shadow: 18px 30px 45px rgb(3 50 91 / 50%);
        position: relative;
        z-index: 2;

        & h3 {
          font-size: reset.toRem(25);
          font-weight: 600;
          color: main.$ColorThree;
          margin-bottom: 5px;
        }
      }
    }

    & .demonstration {
      margin-top: 80px;
      @include main.FlexCenCen;
      gap: 0 50px;

      & .txt {
        text-align: left;

        & h4 {
          font-size: reset.toRem(40);
          font-weight: 500;
          color: main.$ColorMain;
          line-height: 1.5;
          margin-bottom: 15px;
          letter-spacing: 1px;
        }

        & div {
          @include main.FlexBetCen;
          gap: 0 25px;

          & p {
            margin-bottom: 0;
            font-size: reset.toRem(20);
            font-weight: 300;
            color: main.$ColorOne;
            line-height: 1.4;
          }
        }
      }
    }
}

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) {
  .versatility {
      padding: 30px 0 50px 0;

      & h2 {
          font-size: reset.toRem(30);
      }

      & p {
          margin-bottom: 50px;
      }

      & .devices {
        gap: 25px 25px;

        & div {
          padding: 25px 0 0 0;
          height: 340px;

          & h3 {
            font-size: reset.toRem(22);
          }
        }
      }

      & .demonstration {
        margin-top: 40px;
        gap: 0 30px;

        & img {
          width: 250px;
        }

        & .txt {
          & h4 {
            font-size: reset.toRem(30);
          }

          & div {
            gap: 0 15px;

            & p {
              font-size: reset.toRem(16);
            }
          }
        }
      }
  }
}

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
  .versatility {
    padding: 30px 0 50px 0;

    & h2 {
        font-size: reset.toRem(30);
    }

    & p {
        margin-bottom: 50px;
    }

    & .devices {
      gap: 25px 25px;

      & div {
        padding: 25px 0 0 0;
        height: 340px;

        & h3 {
          font-size: reset.toRem(22);
        }
      }
    }

    & .demonstration {
      margin-top: 40px;
      gap: 0 30px;

      & .img {
        display: none;
      }

      & .txt {
        width: 100%;

        & h4 {
          font-size: reset.toRem(26);
          text-align: center;
          padding: 0 15%;

          & br {
            display: none;
          }
        }

        & div {
          gap: 0 15px;
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;

          & p {
            width: 100%;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

/* TABLET BIG - 900px*/ 
@include main.breakpoint(smashTabletBig) {
  .versatility {
    padding: 30px 0 50px 0;

    & h2,
    & p,
    & .devices {
      display: none;
    }

    & .demonstration {
      margin-top: 0;
      gap: 0 30px;

      & .img {
        display: none;
      }

      & .txt {
        width: 100%;

        & h4 {
          font-size: reset.toRem(26);
          text-align: center;
          padding: 0 10%;

          & br {
            display: none;
          }
        }

        & div {
          gap: 0 15px;
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;

          & p {
            width: 100%;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
  .versatility {
    padding: 25px 0 40px 0;

    & .demonstration {
      & .txt {
        & h4 {
          font-size: reset.toRem(22);
          padding: 0 0;
        }
      }
    }
  }
}
