@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*RESET*/
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-size: 100%;
  line-height: 1.3;
  cursor: default;
}

/*
  ========================================
  Typography
  ========================================
*/
b, strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

/*
  ========================================
  Img
  ========================================
*/
img,
picture,
video,
embed,
object {
  max-width: 100%;
}

img {
  display: inline-block;
  vertical-align: middle;
}

/**/
body {
  background: #FAFAFA;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #5F5F5F;
  line-height: 1.9;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

/*CONTAINER*/
.container {
  margin: 0 auto;
  max-width: 93.75rem;
  padding-left: 20px;
  padding-right: 20px;
}

/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  p {
    line-height: 1.4;
  }
}
/* DESKTOP LARGE - 1400px*/
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* TABLET - 600px*/
/* MOBILE - 400px*/
/* DESKTOP LARGE - 1400px*/
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* TABLET - 600px*/
/* MOBILE - 400px*/
/*
  ========================================
  HEADER
  ========================================
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s all;
}
header.fixed {
  background: rgba(255, 255, 255, 0.92);
  box-shadow: -1px -15px 38px #2a2c42;
}
header.fixed .container {
  padding-top: 15px;
  padding-bottom: 15px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  transition: 0.3s all;
}
header .container .navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navigation nav ul li a {
  display: block;
  font-size: 1.25rem;
  color: #03325B;
  padding: 10px 25px;
  transition: 0.3s all;
}
header .container .navigation nav ul li a:hover {
  text-shadow: 1px 3px 2px #c3e309;
}

/*********
RESPONSIVE
**********/
/* DESKTOP LARGE - 1400px*/
@media screen and (max-width: 87.5rem) {
  header .container .navigation nav ul li a {
    font-size: 1.125rem;
    padding: 10px 18px;
  }
}
/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  header .container .navigation nav ul li a {
    font-size: 1rem;
    padding: 10px 14px;
  }
}
/*PERSONALIZATION 1100PX*/
@media screen and (max-width: 68.75rem) {
  header .container {
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  header.fixed .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header .button {
    display: none;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  header .container .navigation {
    position: relative;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  header .container .navigation .menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  header .container .navigation .open {
    height: 38px;
    width: 38px;
    background: #A1BD04 url("../img/menu_icon.png") center no-repeat;
    transition: 0.3s all;
    border-radius: 5px;
  }
  header .container .navigation nav {
    position: absolute;
    right: 0;
    top: 38px;
    width: 200px;
    background: #ededed;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    z-index: -1;
    visibility: collapse;
    transition: 0.2s all;
    border-radius: 6px;
    box-shadow: -2px 1px 9px -4px #000000;
    border-radius: 5px 5px 5px 5px;
  }
  header .container .navigation nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  header .container .navigation nav ul li a {
    width: 100%;
    display: block;
    font-size: 1rem !important;
    color: #03325B;
  }
  header .container .navigation .menu.ativo nav {
    opacity: 1;
    visibility: visible;
    z-index: inherit;
  }
  header .container .navigation .menu.ativo .open {
    background: #A1BD04 url("../img/menu-close.png") center no-repeat;
  }
}
/*
  ========================================
  FOOTER
  ========================================
*/
footer {
  padding: 30px 0;
}
footer .container {
  max-width: 70rem;
}
footer .container .display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
footer .container .display .item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  gap: 25px 35px;
}
footer .container .display .item1 .information {
  width: 240px;
}
footer .container .display .item1 .information p {
  font-size: 0.875rem;
  margin-top: 40px;
  opacity: 0.5;
}
footer .container .display .item1 .information a {
  font-size: 1.5625rem;
  font-weight: bold;
  color: #03325B;
}
footer .container .display .item1 .links nav ul li {
  line-height: 2.2;
  margin: 6px;
  transition: all 0.3s;
}
footer .container .display .item1 .links nav ul li a {
  color: #5F5F5F;
  opacity: 0.5;
  font-size: 1rem;
  font-weight: 400;
}
footer .container .display .item1 .links nav ul li :hover {
  color: #A1BD04;
}
footer .container .display .item2 {
  width: 40%;
}
footer .container .display .item2 form {
  position: relative;
}
footer .container .display .item2 p {
  font-weight: 400;
  margin-left: 25px;
  opacity: 0.5;
}
footer .container .display .item2 input {
  height: 55px;
  border-radius: 100px;
  padding-left: 25px;
  width: 100%;
}
footer .container .display .item2 .button {
  width: 110px;
  position: absolute;
  top: 5px;
  right: 7px;
}
footer .container .display .item2 .button.--type_1 input {
  height: 45px;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  border: 1px solid #A1BD04;
  padding: 10px 0;
}
footer .container .display .item2 .button.--type_1 input:hover {
  background: #C3E309;
  box-shadow: 0px 1px 8px #C3E309;
}
footer .container .display .item2 ::placeholder {
  font-size: 1rem;
}
footer .container .display .item2 h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #03325B;
  line-height: 1.5;
  position: relative;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 15px;
}
footer .container .display .item2 ul {
  display: flex;
  gap: 25px;
  padding-left: 15px;
}
footer .container .display .item2 ul li img:hover {
  filter: #A1BD04;
}
footer .container .direitos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .container .direitos p {
  font-size: 0.625rem;
  color: #023859;
  margin-bottom: 0;
}

/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  footer .container .display .item1 {
    width: 45%;
  }
  footer .container .display .item1 .information a {
    font-size: 1.25rem;
  }
  footer .container .display .item1 .links nav ul li {
    line-height: 1.5;
  }
  footer .container .display .item2 {
    width: 45%;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  footer {
    padding-top: 15px;
  }
  footer .container .display {
    height: auto;
    margin-top: 0px;
    flex-wrap: wrap;
  }
  footer .container .display .item1 {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  footer .container .display .item1 .information {
    text-align: center;
    width: 100%;
  }
  footer .container .display .item1 .information .logo {
    display: none;
  }
  footer .container .display .item1 .information a {
    font-size: 1.25rem;
  }
  footer .container .display .item1 .information p {
    margin-top: 25px;
  }
  footer .container .display .item1 .links {
    display: none;
  }
  footer .container .display .item2 {
    width: 100%;
  }
  footer .container .display .item2 p {
    margin-top: 0;
    text-align: center;
  }
  footer .container .display .item2 form {
    max-width: 600px;
    margin: 0 auto;
  }
  footer .container .display .item2 input {
    width: 100%;
    margin: 0;
  }
  footer .container .display .item2 h2 {
    text-align: center;
  }
  footer .container .display .item2 ul {
    justify-content: center;
    padding-left: 0;
    margin-bottom: 20px;
  }
  footer .container .direitos {
    flex-wrap: wrap;
  }
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #03325B;
  border-radius: 10px;
}

/*
  ========================================
  CONTENT INDEX
  ========================================
*/
.contentEmphasis {
  margin-bottom: 100px;
}
.contentEmphasis .container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0 70px;
  margin-top: 50px;
}
.contentEmphasis .container .__left {
  width: 480px;
}
.contentEmphasis .container .__left h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #A1BD04;
  line-height: 1.5;
  position: relative;
  margin-bottom: 25px;
}
.contentEmphasis .container .__left h1::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 18px;
  height: 109px;
  width: 6px;
  border-radius: 15px;
  background: #A1BD04;
}
.contentEmphasis .container .__left .__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px 65px;
  margin-top: 50px;
  padding-bottom: 80px;
}
.contentEmphasis .container .__right {
  width: 530px;
  padding-left: 55px;
  padding-top: 75px;
  position: relative;
}
.contentEmphasis .container .__right img {
  position: relative;
  z-index: 2;
  filter: drop-shadow(0 -5px 36px rgba(11, 1, 171, 0.4));
}
.contentEmphasis .container .__right::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 12px;
  background: url("../img/circle_green_small.png") center no-repeat;
  height: 327px;
  width: 327px;
}
.contentEmphasis .container .__right::after {
  content: "";
  position: absolute;
  bottom: 150px;
  right: -240px;
  background: url("../img/circle_blue_big.png") center no-repeat;
  height: 550px;
  width: 550px;
}

/*********
RESPONSIVE
*********/
/* DESKTOP - 1600px */
@media screen and (max-width: 1600px) {
  .contentEmphasis .container .__right::after {
    right: -140px;
  }
}
/* DESKTOP LARGE - 1400px*/
@media screen and (max-width: 87.5rem) {
  .contentEmphasis .container .__right::after {
    display: none;
  }
}
/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  .contentEmphasis .container .__right {
    width: 430px;
    padding: 0;
  }
  .contentEmphasis .container .__right::before {
    display: none;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .contentEmphasis {
    margin-bottom: 40px;
  }
  .contentEmphasis .container {
    flex-wrap: wrap;
    gap: 0 30px;
    margin-top: 20px;
  }
  .contentEmphasis .container .__left {
    width: 100%;
  }
  .contentEmphasis .container .__left h1 {
    font-size: 1.875rem;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.3;
  }
  .contentEmphasis .container .__left h1 br {
    display: none;
  }
  .contentEmphasis .container .__left h1::after {
    display: none;
  }
  .contentEmphasis .container .__left .__list {
    gap: 15px 10px;
    margin-top: 40px;
    padding-bottom: 0;
    justify-content: center;
  }
  .contentEmphasis .container .__right {
    width: 100%;
    display: none;
  }
}
/*
  ========================================
  SOLUTION
  ========================================
*/
.solution .__textMain {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}
.solution .__textMain .container div {
  width: 720px;
  margin: 0 auto;
}
.solution .__textMain h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #03325B;
  margin-bottom: 40px;
  letter-spacing: 1.6px;
}
.solution .__textMain p {
  margin-bottom: 30px;
}
.solution .device_tabs {
  padding-bottom: 110px;
}
.solution .device_tabs .container {
  display: flex;
  justify-content: center;
  gap: 0 45px;
}
.solution .device_tabs .container .__item_solution.--hover div a {
  position: relative;
  background: none !important;
  box-shadow: none;
}
.solution .device_tabs .container .__item_solution.--hover div a * {
  position: relative;
  z-index: 2;
}
.solution .device_tabs .container .__item_solution.--hover div a::after {
  content: "";
  position: absolute;
  width: 204px;
  height: 100%;
  z-index: 1;
  background: #F0F5FD;
  transition: 0.4s all;
  border-radius: 20px;
}
.solution .device_tabs .container .__item_solution.--hover div a.ativo::after, .solution .device_tabs .container .__item_solution.--hover div a:hover::after {
  width: 300px;
  background: #A1BD04 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 30px #A1BD04;
}
.solution .device_tabs .container .__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px 0;
}
.solution .device_tabs .container .__left.__item_solution.--hover div a {
  position: relative;
}
.solution .device_tabs .container .__left.__item_solution.--hover div a::after {
  left: 0;
}
.solution .device_tabs .container .__image {
  width: 560px;
  position: relative;
  z-index: 2;
}
.solution .device_tabs .container .__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px 0;
}
.solution .device_tabs .container .__right.__item_solution.--hover div a {
  position: relative;
}
.solution .device_tabs .container .__right.__item_solution.--hover div a::after {
  right: 0;
}
.solution .contentVideo {
  padding: 85px 0;
  text-align: center;
  background: #F0F5FD;
}
.solution .contentVideo h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #03325B;
  margin-bottom: 90px;
  letter-spacing: 1.6px;
}
.solution .contentVideo .__content {
  margin: 0 auto;
  position: relative;
  width: 1100px;
  text-align: center;
}
.solution .contentVideo .__content img {
  position: relative;
  z-index: 2;
  box-shadow: 10px 25px 25px rgba(0, 0, 0, 0.2);
}
.solution .contentVideo .__content::before, .solution .contentVideo .__content::after {
  content: "";
  width: 390px;
  height: 340px;
  background: url("../img/balls.png") repeat;
  position: absolute;
  z-index: 1;
}
.solution .contentVideo .__content::before {
  left: -40px;
  top: -50px;
}
.solution .contentVideo .__content::after {
  right: -40px;
  bottom: -50px;
}

/**********
RESPONSIVE
**********/
/* DESKTOP LARGE - 1400px*/
@media screen and (max-width: 87.5rem) {
  .solution .__textMain {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .solution .device_tabs {
    padding-bottom: 50px;
  }

  .solution .contentVideo .__content {
    width: 100%;
  }
  .solution .contentVideo .__content::after {
    display: none;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .solution .__textMain {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .solution .__textMain .container div {
    width: 100%;
    margin: 0 auto;
  }
  .solution .__textMain h2 {
    font-size: 1.875rem;
    margin-bottom: 30px;
  }
  .solution .__textMain p {
    margin-bottom: 20px;
  }
  .solution .device_tabs {
    padding-bottom: 60px;
  }
  .solution .device_tabs .container {
    flex-wrap: wrap;
    gap: 25px 15px;
    justify-content: space-evenly;
  }
  .solution .device_tabs .container .__left {
    gap: 20px 0;
  }
  .solution .device_tabs .container .__image {
    order: -1;
    width: 300px;
  }
  .solution .device_tabs .container .__right {
    gap: 20px 0;
  }
  .solution .contentVideo {
    padding: 20px 0;
  }
  .solution .contentVideo h2 {
    font-size: 1.875rem;
    margin-bottom: 40px;
  }
  .solution .contentVideo .__content::before, .solution .contentVideo .__content::after {
    display: none;
  }
  .solution .contentVideo .__content::before, .solution .contentVideo .__content::after {
    display: none;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .solution .device_tabs {
    padding-bottom: 60px;
  }
  .solution .device_tabs .container {
    flex-wrap: wrap;
    gap: 25px 15px;
    justify-content: space-evenly;
  }
  .solution .device_tabs .container .__left {
    gap: 20px 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .solution .device_tabs .container .__left div {
    width: 204px;
  }
  .solution .device_tabs .container .__image {
    order: -1;
    width: 300px;
  }
  .solution .device_tabs .container .__right {
    gap: 20px 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .solution .device_tabs .container .__item_solution.--hover div a.ativo::after, .solution .device_tabs .container .__item_solution.--hover div a:hover::after {
    width: 204px;
    height: 245px;
  }
}
/*
  ========================================
  SOBRE NOS
  ========================================
*/
.sobreNos {
  /* SUB TITLE */
  /* CONTENT_1 */
  /* CONTENT_2 */
}
.sobreNos .__subTitle {
  margin-top: 46px;
  margin-bottom: 26px;
}
.sobreNos .__subTitle h2, .sobreNos .__subTitle span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #03325B;
}
.sobreNos .__subTitle span {
  color: #A1BD04;
}
.sobreNos .content_1 {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 55px;
}
.sobreNos .content_1 .container .display {
  display: flex;
  gap: 0 154px;
}
.sobreNos .content_1 .container .display .txt {
  width: 538px;
}
.sobreNos .content_1 .container .display .txt h3 {
  font-size: 1.5625rem;
  font-weight: 300;
  line-height: 1.8;
  color: #03325B;
  margin-top: 66px;
  margin-bottom: 52px;
}
.sobreNos .content_1 .container .display .img {
  width: 628px;
  position: relative;
}
.sobreNos .content_1 .container .display .img .imgMain img {
  border-radius: 20px;
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.1607843137);
}
.sobreNos .content_1 .container .display .img .circle1 img {
  position: absolute;
  width: 155px;
  top: 105px;
  left: -85px;
  z-index: -1;
}
.sobreNos .content_1 .container .display .img .circle2 img {
  position: absolute;
  top: 274px;
  right: -150px;
  z-index: -1;
}
.sobreNos .content_1 .container .display .img .circle3 img {
  position: absolute;
  height: 415px;
  top: 360px;
  right: -480px;
  z-index: -1;
}
.sobreNos .content_1 .container .display .img .circle4 img {
  position: absolute;
  width: 38px;
  bottom: 145px;
  right: -50px;
  z-index: -1;
}
.sobreNos .content_1 .container .display .img .circle5 img {
  position: absolute;
  width: 145px;
  bottom: -20px;
  right: -68px;
  z-index: 0;
}
.sobreNos .content_2 {
  padding-bottom: 115px;
  margin-top: -16px;
}
.sobreNos .content_2 .container {
  display: flex;
  align-items: end;
  height: 638px;
  overflow: hidden;
}
.sobreNos .content_2 .container .content {
  width: 80%;
  margin: 0 auto;
}
.sobreNos .content_2 .container .content .main h2 {
  color: #03325B;
  margin-left: 120px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.sobreNos .content_2 .container .content .footer {
  height: 198px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #A1BD04;
  border-radius: 30px;
  padding-left: 138px;
  position: relative;
  z-index: 2;
}
.sobreNos .content_2 .container .content .footer h2 {
  font-size: 1.5625rem;
  letter-spacing: 1px;
  margin-bottom: 22px;
}
.sobreNos .content_2 .container .content .footer .button {
  width: 320px;
}
.sobreNos .content_2 .container .content .footer .button a {
  border: 2px solid #F0F5FD;
  border-radius: 20px;
  padding: 10px 25px;
}
.sobreNos .content_2 .container .content .footer .imgMain img {
  position: absolute;
  bottom: -330px;
  right: -50px;
}
.sobreNos .content_2 .container .content .footer .imgSecond img {
  position: absolute;
  bottom: 70px;
  width: 439px;
  right: 125px;
  z-index: -1;
}

/*******
RESPONSIVE
*******/
/* PERSONALIZATE- 1500px*/
@media screen and (max-width: 1500px) {
  .sobreNos {
    /* CONTENT_1 */
  }
  .sobreNos .content_1 {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .sobreNos .content_1 .container .display {
    gap: 0 100px;
    padding-right: 8%;
    justify-content: space-between;
  }
  .sobreNos .content_1 .container .display .txt {
    width: 500px;
  }
  .sobreNos .content_1 .container .display .img {
    width: 600px;
  }
}
@media screen and (max-width: 1300px) {
  .sobreNos .content_2 {
    margin-top: 20px;
    padding-bottom: 60px;
  }
  .sobreNos .content_2 .container {
    height: 535px;
  }
  .sobreNos .content_2 .container .content {
    width: 100%;
  }
}
/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  .sobreNos {
    /* SUB TITLE */
    /* CONTENT_1 */
  }
  .sobreNos .__subTitle {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .sobreNos .__subTitle h2, .sobreNos .__subTitle span {
    font-size: 2rem;
  }
  .sobreNos .content_1 .container .display {
    gap: 0 50px;
    padding: 0;
  }
  .sobreNos .content_1 .container .display .txt {
    width: 500px;
  }
  .sobreNos .content_1 .container .display .txt h3 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin: 20px 0;
  }
  .sobreNos .content_1 .container .display .img {
    width: 600px;
  }
  .sobreNos .content_1 .container .display .img .circle1, .sobreNos .content_1 .container .display .img .circle2, .sobreNos .content_1 .container .display .img .circle3, .sobreNos .content_1 .container .display .img .circle4, .sobreNos .content_1 .container .display .img .circle5 {
    display: none;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .sobreNos {
    /* CONTENT_1 */
    /* CONTENT_2 */
  }
  .sobreNos .content_1 {
    padding-top: 0;
    padding-bottom: 25px;
  }
  .sobreNos .content_1 .container .display .txt {
    width: 100%;
  }
  .sobreNos .content_1 .container .display .img {
    display: none;
  }
  .sobreNos .content_2 {
    padding-bottom: 0;
    margin-top: 0;
  }
  .sobreNos .content_2 .container {
    height: auto;
  }
  .sobreNos .content_2 .container .content .main {
    text-align: center;
  }
  .sobreNos .content_2 .container .content .main h2 {
    margin-left: 0;
    font-size: 1.875rem;
    margin-bottom: 30px;
  }
  .sobreNos .content_2 .container .content .main h2 br {
    display: none;
  }
  .sobreNos .content_2 .container .content .footer {
    height: auto;
    max-width: 390px;
    width: auto;
    text-align: center;
    padding: 25px 35px;
    margin: 0 auto;
  }
  .sobreNos .content_2 .container .content .footer .button {
    display: inline-block;
    margin: 0 auto;
    width: auto;
  }
  .sobreNos .content_2 .container .content .footer .imgMain, .sobreNos .content_2 .container .content .footer .imgSecond {
    display: none;
  }
}
/*
  ========================================
  PLANS VALUES
  ========================================
*/
.plans_values .__textOne {
  text-align: center;
  margin-bottom: 130px;
  margin-top: 25px;
}
.plans_values .__textOne h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #03325B;
  margin-bottom: 40px;
  letter-spacing: 1.6px;
}
.plans_values .__textOne h3 {
  font-size: 1.5625rem;
  font-weight: 300;
  color: #03325B;
  margin-bottom: 40px;
}
.plans_values .__textOne p {
  margin-bottom: 30px;
}
.plans_values .incluse {
  text-align: center;
}
.plans_values .incluse h4 {
  font-size: 1.5625rem;
  font-weight: 300;
  color: #03325B;
  margin-bottom: 20px;
}
.plans_values .getItNow {
  background: #F0F5FD;
  margin-top: 80px;
}
.plans_values .getItNow .__display {
  width: 815px;
  margin: 0 auto;
  position: relative;
  top: 55px;
}
.plans_values .getItNow .__display .__txt {
  width: 350px;
  padding: 60px 0 0 0;
  margin-left: 55px;
}
.plans_values .getItNow .__display .__txt h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #03325B;
  margin-bottom: 30px;
  letter-spacing: 1.6px;
}
.plans_values .getItNow .__display .__phone {
  height: 110px;
  width: 100%;
  background: transparent linear-gradient(106deg, #A1BD04 0%, #C3E309 100%) 0% 0% no-repeat padding-box;
  position: relative;
  border-radius: 30px;
}
.plans_values .getItNow .__display .__phone div {
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 0 0 70px;
  background: url("../img/ico_phone.png") left center no-repeat;
  font-size: 1.5625rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1.6px;
}
.plans_values .getItNow .__display .__phone div span {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px;
}
.plans_values .getItNow .__display .__phone img {
  position: absolute;
  bottom: 0;
  right: 25px;
}
.plans_values .attComercial {
  text-align: right;
  width: 815px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 35px;
}
.plans_values .attComercial p {
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .plans_values .__textOne {
    margin-bottom: 60px;
    margin-top: 15px;
  }
  .plans_values .__textOne h2 {
    font-size: 1.875rem;
    margin-bottom: 30px;
  }
  .plans_values .__textOne h3 {
    font-size: 1.25rem;
    margin-bottom: 25px;
  }
  .plans_values .__textOne h3 br {
    display: none;
  }
  .plans_values .__textOne p {
    margin-bottom: 25px;
  }
  .plans_values .incluse h4 {
    font-size: 1.25rem;
  }
  .plans_values .incluse h4 br {
    display: none;
  }
  .plans_values .attComercial {
    text-align: right;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .plans_values .getItNow {
    margin-top: 40px;
    padding-bottom: 15px;
  }
  .plans_values .getItNow .__display {
    width: 100%;
    top: 0px;
  }
  .plans_values .getItNow .__display .__txt {
    width: 100%;
    padding: 30px 0 0 0;
    margin-left: 0;
    text-align: center;
  }
  .plans_values .getItNow .__display .__txt h2 {
    font-size: 1.875rem;
    margin-bottom: 20px;
  }
  .plans_values .getItNow .__display .__phone {
    height: auto;
    padding: 15px 20px;
    width: 330px;
    margin: 0 auto;
  }
  .plans_values .getItNow .__display .__phone div {
    margin-left: 0;
    font-size: 1.375rem;
  }
  .plans_values .getItNow .__display .__phone img {
    display: none;
  }
  .plans_values .attComercial {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }
}
/*
  ========================================
  FALE CONOSCO
  ========================================
*/
.faleConosco .__subTitle {
  margin-top: 40px;
  margin-bottom: 30px;
}
.faleConosco .__subTitle h2 {
  color: #03325B;
  font-weight: bold;
  font-size: 2.5rem;
}
.faleConosco .formulario .container {
  position: relative;
  left: -52px;
}
.faleConosco .formulario .container .__display {
  display: flex;
  gap: 0 62px;
  align-items: flex-start;
}
.faleConosco .formulario .container .__display .__form {
  width: 55%;
  padding: 63px 70px 0 61px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}
.faleConosco .formulario .container .__display .__form label {
  color: #03325B;
}
.faleConosco .formulario .container .__display .__form textarea {
  margin-top: 10px;
  margin-bottom: 130px;
  border-radius: 35px;
}
.faleConosco .formulario .container .__display .__form input {
  margin-bottom: 40px;
  margin-top: 10px;
}
.faleConosco .formulario .container .__display .__form .btn {
  width: 106px;
  position: absolute;
  right: 70px;
  bottom: 15px;
}
.faleConosco .formulario .container .__display .__information {
  width: 39%;
}
.faleConosco .formulario .container .__display .__information .__item {
  padding: 63px 70px 63px 61px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faleConosco .formulario .container .__display .__information .__item:first-child {
  margin-bottom: 65px;
}
.faleConosco .formulario .container .__display .__information .__item:nth-child(3) p span {
  display: block;
  margin-bottom: 45px;
}
.faleConosco .formulario .container .__display .__information .__item .txt {
  width: 75%;
}
.faleConosco .formulario .container .__display .__information .__item .txt p {
  margin: 0;
  line-height: 35px;
}
.faleConosco .formulario .container .__display .__information .__item .txt p a {
  color: #03325B;
  font-weight: 600;
}
.faleConosco .formulario .container .__display .__information .__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.faleConosco .formulario .container .__display .__information .__social span {
  font-size: 1.125rem;
  color: #03325B;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}
.faleConosco .formulario .container .__display .__information .__social ul {
  display: flex;
  gap: 25px;
  padding-left: 15px;
}
.faleConosco .formulario .container .__display .__information .__social ul li img:hover {
  filter: #A1BD04;
}
.faleConosco .maps iframe {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1607843137);
}

/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .faleConosco .__subTitle {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .faleConosco .__subTitle h2 {
    font-size: 1.875rem;
  }
  .faleConosco .formulario .container {
    position: relative;
    left: 0;
  }
  .faleConosco .formulario .container .__display {
    flex-wrap: wrap;
    gap: 30px;
  }
  .faleConosco .formulario .container .__display .__form {
    width: 100%;
    padding: 30px 40px 0 40px;
  }
  .faleConosco .formulario .container .__display .__information {
    width: 100%;
  }
  .faleConosco .formulario .container .__display .__information .__item {
    padding: 63px 70px 63px 61px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faleConosco .formulario .container .__display .__information .__item:first-child {
    margin-bottom: 65px;
  }
  .faleConosco .formulario .container .__display .__information .__item:nth-child(3) p span {
    display: block;
    margin-bottom: 45px;
  }
  .faleConosco .formulario .container .__display .__information .__item .txt {
    width: 75%;
  }
  .faleConosco .formulario .container .__display .__information .__item .txt p {
    margin: 0;
    line-height: 35px;
  }
  .faleConosco .formulario .container .__display .__information .__item .txt p a {
    color: #03325B;
    font-weight: 600;
  }
  .faleConosco .formulario .container .__display .__information .__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .faleConosco .formulario .container .__display .__information .__social span {
    font-size: 1.125rem;
    color: #03325B;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .faleConosco .formulario .container .__display .__information .__social ul {
    display: flex;
    gap: 25px;
    padding-left: 15px;
  }
  .faleConosco .formulario .container .__display .__information .__social ul li img:hover {
    filter: #A1BD04;
  }
  .faleConosco .maps iframe {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1607843137);
  }
}
/* BUTTONS */
.inputs .inputs-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.inputs .margin {
  margin-bottom: 25px;
}

.inputs select,
.inputs input,
.inputs textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  padding: 1.125rem 1rem;
  padding-left: 25px;
  font-size: 0.9375rem;
  border-radius: 100px;
  height: 55px;
  width: 100%;
  background: none;
  border: solid 1px #03325B;
  outline-color: #A1BD04;
  color: #9f9f9f;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease;
}

.inputs textarea:focus,
.inputs select:focus,
.inputs input:focus {
  border: 2px solid #A1BD04;
}

.inputs select {
  background: #efefef url("../img/seta_form.png") right 20px center no-repeat;
  width: 100%;
  padding: 13px 25px;
  cursor: pointer;
}

.inputs .btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.inputs .btn input[type=submit] {
  text-align: center;
  padding: 0;
  height: 45px;
  background: #A1BD04 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 30px #A1BD04;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  padding-left: 0 !important;
  cursor: pointer;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.inputs .btn input[type=submit]:hover {
  background: #C3E309;
  box-shadow: 0px 1px 8px #C3E309;
}

/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .inputs .margin {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .inputs select,
.inputs input[type=text],
.inputs textarea {
    padding: 12px 30px;
  }
}
#dl-menu {
  width: 100%;
  display: none;
}

/* Common styles of menus */
.dl-menuwrapper {
  width: 100%;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 200%;
  z-index: 5555;
}

.dl-menuwrapper button {
  background: #A1BD04 url("../img/menu_icon.png") right 15px center no-repeat;
  border: none;
  width: 100%;
  height: 48px;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  padding-left: 15px;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.dl-menuwrapper ul {
  background: none;
}

.dl-menuwrapper button.dl-active {
  color: #ffffff;
  background: #A1BD04 url("../img/menu-close.png") right 15px center no-repeat;
}

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li .down {
  background: #14698d url(../../img/bg-header/seta-drop.png) right 20px center no-repeat;
}

.dl-menuwrapper li a {
  background: #206ab2;
  display: block;
  position: relative;
  padding: 10px 20px;
  outline: none;
  border: 1px solid lightgrey;
  border-bottom: none;
  color: #ffffff;
  transition: all 0.3s ease;
}

.dl-menuwrapper li:last-child a {
  border-bottom: 1px solid lightgrey;
}

.dl-menuwrapper li a:hover,
.dl-menuwrapper li.ativo a {
  background: #014b94;
  color: #ffffff;
  padding: 10px 20px 10px 40px;
}

.dl-menuwrapper li.dl-back > a {
  /* padding-left: 40px; */
  font-weight: 600;
  color: #ffffff;
  background: #0e4d68 url(../../img/seta-back.png) left 20px center no-repeat;
}

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15);
}

.dl-menuwrapper .dl-menu {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 5555;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */
.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: "";
}

/* Colors for demos */
/* Demo 4 */
.demo-4 .dl-menuwrapper button {
  background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: #79a002;
}

/*
  ========================================
  BUTTONS
  ========================================
*/
.button input[type=submit], .button a {
  background: #A1BD04;
  text-transform: uppercase;
  border-radius: 35px;
  background: #A1BD04 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 30px #A1BD04;
  display: block;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s all;
}
.button input[type=submit]:hover, .button a:hover {
  background: #C3E309;
  box-shadow: 0px 1px 8px #C3E309;
}
.button.--type_1 a {
  padding: 10px 22px;
  font-size: 1rem;
}
.button.--type_2 a {
  padding: 22px 26px;
  font-size: 1.5625rem;
}

/*
  ========================================
  FIND PLAN
  ========================================
*/
.findPlan {
  text-align: center;
  padding-bottom: 50px;
}
.findPlan .__title.--type1 {
  text-align: center;
}
.findPlan .__title.--type1 h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #A1BD04;
  margin-bottom: 10px;
  letter-spacing: 1.6px;
}
.findPlan .__title.--type1 h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #03325B;
  margin-bottom: 10px;
}
.findPlan .__title.--type1 p {
  margin: 0;
}
.findPlan .__title.--type1 p span {
  color: #A1BD04;
}
.findPlan .__title.--type2 {
  text-align: center;
}
.findPlan .__title.--type2 h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #A1BD04;
  margin-bottom: 10px;
  letter-spacing: 1.6px;
}
.findPlan .__title.--type2 p {
  margin: 0;
}
.findPlan .__title.--type2 p span {
  color: #A1BD04;
}
.findPlan .__display {
  margin-bottom: 25px;
}
.findPlan .__display .__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px 32px;
  margin-top: 45px;
  /*EMPHASIS*/
}
.findPlan .__display .__scroll .item {
  width: 370px;
  border: 1px solid #D1DBE3;
  border-radius: 15px;
  padding: 45px 25px;
  text-align: center;
  margin-bottom: 35px;
}
.findPlan .__display .__scroll .item span {
  display: block;
}
.findPlan .__display .__scroll .item .type1 {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #5F5F5F;
  margin-bottom: 8px;
}
.findPlan .__display .__scroll .item .type2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #03325B;
  margin-bottom: 22px;
}
.findPlan .__display .__scroll .item .type3 {
  font-size: 1rem;
  font-weight: 300;
  color: #5F5F5F;
  margin-bottom: 8px;
  line-height: 1.8;
}
.findPlan .__display .__scroll .item .type4 {
  font-size: 1.5625rem;
  font-weight: 700;
  color: #A1BD04;
  margin: 30px 0 40px 0;
}
.findPlan .__display .__scroll .item .type5 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #A1BD04;
  margin-bottom: 5px;
}
.findPlan .__display .__scroll .item .type6 {
  font-size: 1rem;
  font-weight: 600;
  color: #A1BD04;
}
.findPlan .__display .__scroll .item a {
  display: inline-block;
  margin-top: 20px;
  border-radius: 14px;
}
.findPlan .__display .__scroll .--emphasis {
  padding: 50px 25px;
  background: #A1BD04 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 30px #A1BD04;
  border: 1px solid #A1BD04;
}
.findPlan .__display .__scroll .--emphasis .type2 {
  margin-bottom: 10px;
}
.findPlan .__display .__scroll .--emphasis .type3 {
  color: #ffffff;
}
.findPlan .__display .__scroll .--emphasis .type3.--gray {
  color: #5F5F5F;
}
.findPlan .__display .__scroll .--emphasis .type4 {
  color: #ffffff;
  margin: 25px 0 50px 0;
}
.findPlan .__display .__scroll .--emphasis .type5 {
  color: #ffffff;
}
.findPlan .__display .__scroll .--emphasis .type6 {
  color: #ffffff;
  margin-bottom: 35px;
}
.findPlan .__display .__scroll .--emphasis a {
  margin-top: 40px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

/*********
RESPONSIVE
*********/
/* LAPTOP - 1024px*/
@media screen and (max-width: 80rem) {
  .findPlan {
    padding-bottom: 20px;
  }
  .findPlan .__title.--type1 h3 {
    font-size: 1.875rem;
  }
  .findPlan .__title.--type2 h2 {
    font-size: 1.875rem;
  }
  .findPlan .__display {
    overflow-x: scroll;
    margin-top: 30px;
  }
  .findPlan .__display .__scroll {
    gap: 25px 25px;
    margin-top: 40px;
    width: 990px;
    margin: 0 auto;
    /*EMPHASIS*/
  }
  .findPlan .__display .__scroll .item {
    width: 300px;
    padding: 25px 25px;
  }
  .findPlan .__display .__scroll .item .type2 {
    font-size: 1.875rem;
    margin-bottom: 15px;
  }
  .findPlan .__display .__scroll .item .type4 {
    font-size: 1.375rem;
    margin: 20px 0 30px 0;
  }
  .findPlan .__display .__scroll .item .type5 {
    font-size: 1rem;
  }
  .findPlan .__display .__scroll .--emphasis {
    padding: 30px 25px;
  }
  .findPlan .__display .__scroll .--emphasis .type2 {
    margin-bottom: 10px;
  }
  .findPlan .__display .__scroll .--emphasis .type4 {
    margin: 25px 0 40px 0;
  }
  .findPlan .__display .__scroll .--emphasis .type6 {
    margin-bottom: 25px;
  }
  .findPlan .__display .__scroll .--emphasis a {
    margin-top: 30px;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .findPlan .__title.--type1 h3 {
    font-size: 1.5625rem;
  }
  .findPlan .__title.--type2 h2 {
    font-size: 1.5625rem;
  }
  .findPlan .__display .__scroll {
    width: 900px;
    /*EMPHASIS*/
  }
  .findPlan .__display .__scroll .item {
    width: 300px;
  }
  .findPlan .__display .__scroll .item .type2 {
    font-size: 1.75rem;
  }
  .findPlan .__display .__scroll .item .type4 {
    font-size: 1.25rem;
  }
  .findPlan .__display .__scroll .item .type3 {
    line-height: 1.4;
  }
  .findPlan .__display .__scroll .--emphasis {
    padding: 40px 25px;
  }
  .findPlan .__display .__scroll .--emphasis .type2 {
    margin-bottom: 10px;
  }
  .findPlan .__display .__scroll .--emphasis .type4 {
    margin: 25px 0 40px 0;
  }
  .findPlan .__display .__scroll .--emphasis .type6 {
    margin-bottom: 25px;
  }
  .findPlan .__display .__scroll .--emphasis a {
    margin-top: 30px;
  }
}
/*
  ========================================
  TITLE INTERNAL
  ========================================
*/
.internal {
  margin-top: 240px;
}
.internal.container, .internal .container {
  padding: 0 80px;
}
.internal .__titleMain h1 {
  font-size: 0.875rem;
  font-weight: 700;
  color: #A1BD04;
  letter-spacing: 1px;
}
.internal .__titleMain h1::after {
  content: "";
  width: 137px;
  height: 4px;
  background: #A1BD04;
  display: block;
  margin-top: 10px;
}

/* PERSONALIZATE- 1500px*/
@media screen and (max-width: 1500px) {
  .internal.container, .internal .container {
    padding: 0 20px;
  }
}
/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  .internal {
    margin-top: 200px;
  }
}
/*PERSONALIZATION 1100PX*/
@media screen and (max-width: 68.75rem) {
  .internal {
    margin-top: 180px;
  }
}
/*
  ========================================
  VERSATILITY
  ========================================
*/
.versatility {
  background: #F0F5FD;
  text-align: center;
  padding: 55px 0;
}
.versatility h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #03325B;
  margin-bottom: 10px;
}
.versatility p {
  margin-bottom: 60px;
}
.versatility .devices {
  display: flex;
  justify-content: center;
  gap: 25px 30px;
  position: relative;
}
.versatility .devices::after {
  content: "";
  position: absolute;
  top: -40px;
  height: 220px;
  width: 390px;
  background: url("../img/balls.png") repeat;
}
.versatility .devices div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0 0 0;
  text-align: center;
  background: #03325B;
  border-radius: 15px;
  width: 530px;
  height: 370px;
  box-shadow: 18px 30px 45px rgba(3, 50, 91, 0.5);
  position: relative;
  z-index: 2;
}
.versatility .devices div h3 {
  font-size: 1.5625rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5px;
}
.versatility .demonstration {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
}
.versatility .demonstration .txt {
  text-align: left;
}
.versatility .demonstration .txt h4 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #A1BD04;
  line-height: 1.5;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.versatility .demonstration .txt div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 25px;
}
.versatility .demonstration .txt div p {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 300;
  color: #03325B;
  line-height: 1.4;
}

/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  .versatility {
    padding: 30px 0 50px 0;
  }
  .versatility h2 {
    font-size: 1.875rem;
  }
  .versatility p {
    margin-bottom: 50px;
  }
  .versatility .devices {
    gap: 25px 25px;
  }
  .versatility .devices div {
    padding: 25px 0 0 0;
    height: 340px;
  }
  .versatility .devices div h3 {
    font-size: 1.375rem;
  }
  .versatility .demonstration {
    margin-top: 40px;
    gap: 0 30px;
  }
  .versatility .demonstration img {
    width: 250px;
  }
  .versatility .demonstration .txt h4 {
    font-size: 1.875rem;
  }
  .versatility .demonstration .txt div {
    gap: 0 15px;
  }
  .versatility .demonstration .txt div p {
    font-size: 1rem;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .versatility {
    padding: 30px 0 50px 0;
  }
  .versatility h2 {
    font-size: 1.875rem;
  }
  .versatility p {
    margin-bottom: 50px;
  }
  .versatility .devices {
    gap: 25px 25px;
  }
  .versatility .devices div {
    padding: 25px 0 0 0;
    height: 340px;
  }
  .versatility .devices div h3 {
    font-size: 1.375rem;
  }
  .versatility .demonstration {
    margin-top: 40px;
    gap: 0 30px;
  }
  .versatility .demonstration .img {
    display: none;
  }
  .versatility .demonstration .txt {
    width: 100%;
  }
  .versatility .demonstration .txt h4 {
    font-size: 1.625rem;
    text-align: center;
    padding: 0 15%;
  }
  .versatility .demonstration .txt h4 br {
    display: none;
  }
  .versatility .demonstration .txt div {
    gap: 0 15px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .versatility .demonstration .txt div p {
    width: 100%;
    margin-bottom: 25px;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .versatility {
    padding: 30px 0 50px 0;
  }
  .versatility h2, .versatility p, .versatility .devices {
    display: none;
  }
  .versatility .demonstration {
    margin-top: 0;
    gap: 0 30px;
  }
  .versatility .demonstration .img {
    display: none;
  }
  .versatility .demonstration .txt {
    width: 100%;
  }
  .versatility .demonstration .txt h4 {
    font-size: 1.625rem;
    text-align: center;
    padding: 0 10%;
  }
  .versatility .demonstration .txt h4 br {
    display: none;
  }
  .versatility .demonstration .txt div {
    gap: 0 15px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .versatility .demonstration .txt div p {
    width: 100%;
    margin-bottom: 25px;
  }
}
/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .versatility {
    padding: 25px 0 40px 0;
  }
  .versatility .demonstration .txt h4 {
    font-size: 1.375rem;
    padding: 0 0;
  }
}
/*
  ========================================
  CALL TEST
  ========================================
*/
.call_test {
  text-align: center;
  padding: 55px 0 90px 0;
}
.call_test h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #A1BD04;
  margin-bottom: 12px;
  letter-spacing: 1px;
}
.call_test h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #03325B;
  margin-bottom: 10px;
}
.call_test p {
  margin: 0;
  text-align: center;
}
.call_test p::after {
  content: "";
  width: 180px;
  height: 4px;
  background: #A1BD04;
  display: block;
  border-radius: 10px;
  margin: 12px auto;
}
.call_test .button {
  display: inline-block;
  margin-top: 45px;
}

/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .call_test {
    text-align: center;
    padding: 25px 0 40px 0;
  }
  .call_test h3 {
    font-size: 1.875rem;
  }
  .call_test .button {
    margin-top: 30px;
  }
}
/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .call_test {
    padding: 15px 0 30px 0;
  }
  .call_test h3 {
    font-size: 1.375rem;
  }
  .call_test .button a {
    font-size: 1.375rem;
    padding: 15px 20px;
  }
}
/*
  ========================================
  ITEM SOLUTION
  ========================================
*/
.__item_solution div a {
  width: 204px;
  height: 240px;
  background: #F0F5FD;
  border-radius: 20px;
  text-align: center;
  padding: 0 30px;
  transition: 0.2s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0;
  cursor: pointer;
}
.__item_solution div a * {
  transition: 0.2s all;
}
.__item_solution div a figure {
  height: 78px;
  display: flex;
  align-items: center;
}
.__item_solution div a span {
  display: block;
  color: #03325B;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
}
.__item_solution div a.ativo, .__item_solution div a:hover {
  background: #A1BD04 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 30px #A1BD04;
}
.__item_solution div a.ativo img, .__item_solution div a:hover img {
  filter: grayscale(0) brightness(0%) contrast(100%) invert(100%) !important;
}
.__item_solution div a.ativo span, .__item_solution div a:hover span {
  color: #ffffff;
}

/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .__item_solution div a {
    width: 160px;
    height: 180px;
    padding: 0 15px;
  }
  .__item_solution div a * {
    transition: 0.2s all;
  }
  .__item_solution div a span {
    font-size: 0.875rem;
    line-height: 15px;
  }
}
/**/
/**/

/*# sourceMappingURL=style.css.map */
