@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  PLANS VALUES
  ========================================
*/

.plans_values {
  & .__textOne {
    text-align: center;
    margin-bottom: 130px;
	margin-top: 25px;

    	& h2 {
			font-size: reset.toRem(40);
			font-weight: 600;
			color: main.$ColorOne;
			margin-bottom: 40px;
			letter-spacing: 1.6px;
		}

		& h3 {
			font-size: reset.toRem(25);
			font-weight: 300;
			color: main.$ColorOne;
			margin-bottom: 40px;
		}

		& p {
			margin-bottom:30px;
		}
  }


  & .incluse {
    text-align: center;

		& h4 {
			font-size: reset.toRem(25);
			font-weight: 300;
			color: main.$ColorOne;
			margin-bottom: 20px;
		}
  }

  & .getItNow {
	background: #F0F5FD;
	margin-top: 80px;

	& .__display {
		width: 815px;
		margin: 0 auto;
		position: relative;
		top: 55px;

		& .__txt {
			width: 350px;
			padding: 60px 0 0 0;
			margin-left: 55px;

			& h2 {
				font-size: reset.toRem(40);
				font-weight: 700;
				color: main.$ColorOne;
				margin-bottom: 30px;
				letter-spacing: 1.6px;
			}
		}

		& .__phone {
			height: 110px;
			width: 100%;
			background: transparent linear-gradient(106deg, #A1BD04 0%, #C3E309 100%) 0% 0% no-repeat padding-box;
			position: relative;
			border-radius: 30px;
			
			& div {
				margin-left: 65px;
				display:flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				padding: 0 0 0 70px;
				background: url("../img/ico_phone.png") left center no-repeat;

				font-size: reset.toRem(25);
				font-weight: 700;
				color: main.$ColorThree;
				letter-spacing: 1.6px;

				& span {
					font-size: reset.toRem(16);
					font-weight: 400;
					margin-bottom: 5px;
				}
			}


			& img {
				position: absolute;
				bottom: 0;
				right: 25px;
			}
		}
	}
  }

  & .attComercial {
	text-align: right;
	width: 815px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 35px;
	
	& p {
		font-size: reset.toRem(12);
		font-weight: 300;
		letter-spacing: 0.5px;
	}
  }
}

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
	.plans_values {
		& .__textOne {
		  margin-bottom: 60px;
		  margin-top: 15px;
	  
			  & h2 {
				  font-size: reset.toRem(30);
				  margin-bottom: 30px;
			  }
	  
			  & h3 {
				  font-size: reset.toRem(20);
				  margin-bottom: 25px;

				  & br {
					display: none;
				  }
			  }
	  
			  & p {
				  margin-bottom:25px;
			  }
		}
	  
	  
		& .incluse {
	  
			  & h4 {
				  font-size: reset.toRem(20);

				  & br {
					display: none;
				  }
			  }
		}
	
	  
		& .attComercial {
		  text-align: right;
		}
	  }
	  
}


/* TABLET BIG - 900px*/ 
@include main.breakpoint(smashTabletBig) {
	.plans_values {
		& .getItNow {
			margin-top: 40px;
			padding-bottom: 15px;
		
			& .__display {
				width: 100%;
				top: 0px;
		
				& .__txt {
					width: 100%;
					padding: 30px 0 0 0;
					margin-left: 0;
					text-align: center;
		
					& h2 {
						font-size: reset.toRem(30);
						margin-bottom: 20px;
					}
				}
		
				& .__phone {
					height: auto;
					padding: 15px 20px;
					width: 330px;
					margin: 0 auto;
					
					& div {
						margin-left: 0;
						font-size: reset.toRem(22);
					}
		
		
					& img {
						display: none;
					}
				}
			}
		}

		& .attComercial {
			width: 100%;
			text-align: center;
			margin: 15px 0;
		  }
	}
}
