@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  CONTENT INDEX
  ========================================
*/

.contentEmphasis {
  margin-bottom: 100px;

  & .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0 70px;
    margin-top: 50px;

    & .__left {
      width: 480px;

      & h1 {
        font-size: reset.toRem(40);
        font-weight: 500;
        color: main.$ColorMain;
        line-height: 1.5;
        position: relative;
        margin-bottom: 25px;

        &::after {
          content: '';
          position: absolute;
          left: -20px;
          top: 18px;
          height: 109px;
          width: 6px;
          border-radius: 15px;
          background: main.$ColorMain;
        }
      }

      & .__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px 65px;
        margin-top: 50px;
        padding-bottom: 80px;
      }
    }
  
    & .__right {
      width: 530px;
      padding-left: 55px;
      padding-top: 75px;
      position: relative;

      & img {
        position: relative;
        z-index: 2;
        filter: drop-shadow(0 -5px 36px rgba(11, 1, 171, 0.4));
      }

      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 12px;
        background: url("../img/circle_green_small.png") center no-repeat;
        height: 327px;
        width: 327px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 150px;
        right: -240px;
        background: url("../img/circle_blue_big.png") center no-repeat;
        height: 550px;
        width: 550px;
      }
    }
  }
}

/*********
RESPONSIVE
*********/

/* DESKTOP - 1600px */

@media screen and (max-width: 1600px) {
  .contentEmphasis .container .__right::after {
      right: -140px;
    }
}

/* DESKTOP LARGE - 1400px*/ 
@include main.breakpoint(smashDesktopLarge) {
  .contentEmphasis .container .__right::after {
    display: none;
  }
}

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) {
  .contentEmphasis .container .__right {
    width: 430px;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
  .contentEmphasis {
    margin-bottom: 40px;
  
    & .container {
      flex-wrap: wrap;
      gap: 0 30px;
      margin-top: 20px;
  
      & .__left {
        width: 100%;
  
        & h1 {
          font-size: reset.toRem(30);
          margin-bottom: 20px;
          text-align: center;
          line-height: 1.3;

          & br {
            display: none;
          }
  
          &::after {
            display: none;
          }
        }
  
        & .__list {
          gap: 15px 10px;
          margin-top: 40px;
          padding-bottom: 0;
          justify-content: center;
        }
      }
    
      & .__right {
        width: 100%;
        display: none;
      }
    }
  }
  
}
