@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  FOOTER
  ========================================
*/

footer {
  padding: 30px 0;

  & .container {
    max-width: 70rem;

    & .display {
      @include main.FlexBetCen;
      margin-bottom: 35px;

      & .item1 {
        @include main.FlexBetCen;
        align-items:flex-end;
        gap: 25px 35px;

        & .information {
          width: 240px;

          & p {
            font-size: reset.toRem(14);
            margin-top: 40px;
            opacity: 0.5;
          }

          & a {
            font-size: reset.toRem(25);
            font-weight: bold;
            color: main.$ColorOne;
          }
        }

        & .links {
          & nav {
            & ul {
              & li {
                line-height: 2.2;
                margin: 6px;
                transition: all 0.3s;

                & a {
                  color: main.$ColorTwo;
                  opacity: 0.5;
                  font-size: reset.toRem(16);
                  font-weight: 400;
                }

                & :hover {
                  color: main.$ColorMain;
                }
              }
            }
          }
        }
      }

      & .item2 {
        width: 40%;

        & form {
          position: relative;
        }

        & p {
          font-weight: 400;
          margin-left: 25px;
          opacity: 0.5;
        }

        & input {
          height: 55px;
          border-radius: 100px;
          padding-left: 25px;
          width: 100%;
        }

        & .button {
          width: 110px;
          position: absolute;
          top: 5px;
          right: 7px;

          &.--type_1 input {
            height: 45px;
            font-size: reset.toRem(12);
            font-weight: 300;
            letter-spacing: 0.5px;
            border: 1px solid main.$ColorMain;
            padding: 10px 0;

            &:hover {
              background: main.$ColorMain2;
              box-shadow: 0px 1px 8px main.$ColorMain2;
            }
          }
        }

        & ::placeholder {
          font-size: reset.toRem(16);
        }

        & h2 {
          font-size: reset.toRem(20);
          font-weight: bold;
          color: main.$ColorOne;
          line-height: 1.5;
          position: relative;
          margin-bottom: 10px;
          margin-top: 30px;
          margin-left: 15px;
        }

        & ul {
          display: flex;
          gap: 25px;
          padding-left: 15px;

          & li {
            & img {
              &:hover {
                filter: main.$ColorMain;
              }
            }
          }
        }
      }
    }

    & .direitos {
      @include main.FlexCenCen;
      gap: 10px;

      & p {
        font-size: reset.toRem(10);
        color: #023859;
        margin-bottom: 0;
      }
    }
  }
}

/* DESKTOP - 1200px*/
@include main.breakpoint(smashDesktop) {
  footer {
    & .container {
      & .display {
        & .item1 {
          width: 45%;

          & .information {
            & a {
              font-size: reset.toRem(20);
            }
          }

          & .links {
            & nav {
              & ul {
                & li {
                  line-height: 1.5;
                }
              }
            }
          }
        }

        & .item2 {
          width: 45%;
        }
      }
    }
  }
}

/* LAPTOP - 1024px*/
@include main.breakpoint(smashLaptop) {
  footer {
    padding-top: 15px;

    & .container {
      & .display {
        height: auto;
        margin-top: 0px;
        flex-wrap: wrap;

        & .item1 {
          width: 100%;

          justify-content: space-around;
          flex-wrap: wrap;

          & .information {
            text-align: center;
            width: 100%;

            & .logo {
              display: none;
            }

            & a {
              font-size: reset.toRem(20);
            }

            & p {
              margin-top: 25px;
            }
          }

          & .links {
            display: none;
          }
        }

        & .item2 {
          width: 100%;

          & p {
            margin-top: 0;
            text-align: center;
          }

          & form {
            max-width: 600px;
            margin: 0 auto;
          }

          & input {
            width: 100%;
            margin: 0;
          }

          & h2 {
            text-align: center;
          }

          & ul {
            justify-content: center;
            padding-left: 0;
            margin-bottom: 20px
          }
        }
      }

      & .direitos {
        flex-wrap: wrap;

      }
    }
  }
}

::-webkit-scrollbar-track {
  background-color: main.$ColorThree;
}
::-webkit-scrollbar {
  width: 8px;
  background: main.$ColorThree;
}
::-webkit-scrollbar-thumb {
  background: main.$ColorOne;
  border-radius: 10px;
}