@use '../1-base/main.scss';
@use '../1-base/reset.scss';



/* DESKTOP LARGE - 1400px*/ 
@include main.breakpoint(smashDesktopLarge) { }

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) { }

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) { }

/* TABLET BIG - 900px*/ 
@include main.breakpoint(smash3TabletBig) { }

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) { }

/* MOBILE - 400px*/ 
@include main.breakpoint(smashMobile) { }

/*
  ========================================
  HEADER
  ========================================
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s all;

  &.fixed {
    background: rgb(255 255 255 / 92%);
    box-shadow: -1px -15px 38px #2a2c42;

    & .container {
      padding-top: 15px;
      padding-bottom:15px;
    }
  }

  & .container {
    @include main.FlexBetCen;
    padding-top: 55px;
    padding-bottom:55px;
    transition: 0.3s all;

    & .navigation {
      & nav ul {
        @include main.FlexBetCen;

        & li a {
          display: block;
          font-size: reset.toRem(20);
          color: main.$ColorOne;
          padding: 10px 25px;
          transition: 0.3s all;

          &:hover {
            text-shadow: 1px 3px 2px #c3e309;
          }
        }
      }
    }
  }
}

/*********
RESPONSIVE
**********/

/* DESKTOP LARGE - 1400px*/ 
@include main.breakpoint(smashDesktopLarge) {
  header {
    & .container {
      & .navigation {
        & nav ul {
          & li a {
            font-size: reset.toRem(18);
            padding: 10px 18px;
          }
        }
      }
    }
  }
}

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) {
  header {
    & .container {
      & .navigation {
        & nav ul {
          & li a {
            font-size: reset.toRem(16);
            padding: 10px 14px;
          }
        }
      }
    }
  }
}

/*PERSONALIZATION 1100PX*/

@media screen and (max-width:68.75rem) {
  header {
    & .container {
      align-items: center;
      padding-top: 25px;
      padding-bottom:25px;
    }

    &.fixed {
      & .container {
        padding-top: 15px;
        padding-bottom:15px;
        
      }
    }

    & .button {
      display: none;
    }
  }
}

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) { 
  header {
    & .container {
      & .navigation {
        position: relative;
        justify-content: flex-end;
        flex-wrap: wrap;

        & .menu {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }

        & .open {
          height: 38px;
          width: 38px;
          background: main.$ColorMain url("../img/menu_icon.png") center no-repeat;
          transition: 0.3s all;
          border-radius: 5px;
        }

        & nav {
          position: absolute;
          right: 0;
          top: 38px;
          width: 200px;
          background: #ededed;
          display: flex;
          flex-wrap: wrap;
          opacity: 0;
          z-index: -1;
          visibility: collapse;
          transition: 0.2s all;
          border-radius: 6px;
          box-shadow: -2px 1px 9px -4px #000000;
          border-radius: 5px 5px 5px 5px;

          & ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            & li a {
              width: 100%;
              display: block;
              font-size: reset.toRem(16)!important;
              color: main.$ColorOne;
            }
          }
        }

        & .menu.ativo {
          & nav {
            opacity: 1;
            visibility: visible;
            z-index: inherit;
          }

          & .open {
            background: main.$ColorMain url("../img/menu-close.png") center no-repeat;
          }
        }
      } // NAVIGATION
    }
  }

}
