@use '../1-base/main.scss';
@use '../1-base/reset.scss';



/* DESKTOP LARGE - 1400px*/ 
@include main.breakpoint(smashDesktopLarge) { }

/* DESKTOP - 1200px*/ 
@include main.breakpoint(smashDesktop) { }

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) { }

/* TABLET BIG - 900px*/ 
@include main.breakpoint(smash3TabletBig) { }

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) { }

/* MOBILE - 400px*/ 
@include main.breakpoint(smashMobile) { }

/*
  ========================================
  HEADER
  ========================================
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s all;

  &.fixed {
    background: rgb(255 255 255 / 92%);
    box-shadow: -1px -15px 38px #2a2c42;

    & .container {
      padding: 15px 0;
    }
  }

  & .container {
    @include main.FlexBetCen;
    padding: 55px 0;
    transition: 0.3s all;

    & .navigation {
      & nav ul {
        @include main.FlexBetCen;

        & li a {
          display: block;
          font-size: reset.toRem(20);
          color: main.$ColorOne;
          padding: 10px 25px;
          transition: 0.3s all;

          &:hover {
            text-shadow: 1px 3px 2px #c3e309;
          }
        }
      }
    }
  }
}